* {
    box-sizing: border-box;
}

.first-box {
    width: 500px;
    margin: 2px auto;
}

.second-box {
    width: 500px; 
    height: 450px; 
    margin: 20px auto;
    padding: 50px;
    border-style: solid;
    border-width: 10px;
    border-color: blue;
    box-sizing: border-box;  
}
